<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#features" class="page-scroll">Specials</a></li> -->
        <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#team" class="page-scroll">Chef</a></li>
        <li><a href="#features" class="page-scroll">Reviews</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>{{title}}</h1>
            <p>Tibetan, Indian & Nepalese Cuisine</p>
            <p class="subtitle"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="container">
    <div class="section-title text-center">
      <h2>Menu</h2>
      <div class="allergy-icons">
        <div class="icon-key">
          <span class="abbr icon-key-abbr--v">v </span>
          <span class="key-description">vegetarian</span>
        </div>
        <div class="icon-key">
          <span class="abbr icon-key-abbr--gf">gf </span>
          <span class="key-description">gluten free</span>
        </div>
        <div class="icon-key">
          <span class="abbr icon-key-abbr--s">s </span>
          <span class="key-description">spicy</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6" *ngFor="let section of menu$ | async">
        <div class="menu-section">
          <h2 class="menu-section-title">{{section.title}}</h2>
          <div class="menu-item" *ngFor="let item of section.items">
            <div class="menu-item-name">{{item.name}}</div>
            <div class="menu-item-price"> {{item.price | currency: 'USD'}} </div>
            <div class="menu-item-description"> {{item.description}} </div>
            <div class="menu-item-allergy-alert">
              <div [attr.data-name]="allergy?.className" [ngClass]="allergy?.className"
                *ngFor="let allergy of item?.allergyIcons">{{allergy?.abbr}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Dinner</h2>
          <div class="menu-item">
            <div class="menu-item-name">Sesame-Ginger Beef</div>
            <div class="menu-item-price"> $15 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Crispy Fried Chicken</div>
            <div class="menu-item-price"> $17 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Mongolian Shrimp & Broccoli</div>
            <div class="menu-item-price"> $18 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam.. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Spicy Coconut Salmon</div>
            <div class="menu-item-price"> $20 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam. </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Desserts</h2>
          <div class="menu-item">
            <div class="menu-item-name">Chocolate Mud Cake</div>
            <div class="menu-item-price"> $11 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Bourbon-Pecan Tart</div>
            <div class="menu-item-price"> $14 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Texas Sheet Cake</div>
            <div class="menu-item-price"> $15 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name">Vanilla Cheesecake</div>
            <div class="menu-item-price"> $18 </div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed
              dapibus leo nec ornare diam. </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-img"> </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="about-text">
          <div class="section-title">
            <h2>Our Story</h2>
          </div>
          <p>coming</p>
          <p>soon</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Reviews</h2>
    </div>
    <div class='row'>
      <div class='col-md-offset-2 col-md-8'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Bottom Carousel Indicators -->
          <!-- <ol class="carousel-indicators">
            <li data-target="#quote-carousel" *ngFor="let review of customerReviews$ | async; let first = first; let i = index" [data-slide-to]="i" [ngClass]="{'active': first}"></li>
          </ol> -->
          
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">
          
            <!-- Quote 1 -->
            <div class="item" [ngClass]="{'active': first}" *ngFor="let review of customerReviews$ | async; let first = first">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img class="img-circle" [src]="review.userImageUrl" style="width: 100px;height:100px;">
                  </div>
                  <div class="col-sm-9">
                    <p>{{review.comment}}</p>
                    <small>{{review.userName}}</small>
                    <momo-star-rating [rating]="review"></momo-star-rating>
                  </div>
                </div>
              </blockquote>
            </div>
          
          <!-- Carousel Buttons Next/Prev -->
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>                          
      </div>
    </div>

    <!-- <div class="section-title">
      <h2>Reviews</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Something</h3>
          <img src="assets/img/specials/1.jpg" class="img-responsive" alt="">
          <p>coming soon...
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Kind Of</h3>
          <img src="assets/img/specials/2.jpg" class="img-responsive" alt="">
          <p>coming soon...
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Special</h3>
          <img src="assets/img/specials/3.jpg" class="img-responsive" alt="">
          <p>coming soon...
          </p>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- Gallery Section -->
<div id="gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="assets/img/gallery/01.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="assets/img/gallery/02.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="assets/img/gallery/03.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="assets/img/gallery/04.jpg" class="img-responsive" alt=""></div>
      </div>
    </div>
  </div>
</div>
<!-- Team Section -->
<div id="team">
  <div class="container">
    <div id="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-title">
            <h2>Meet The Chef</h2>
          </div>
          <p>Tashi Delek</p>
          <p>coming soon</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="team-img"><img src="assets/img/momo-chef.jpeg" alt="Chef Momo Image"></div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container text-center">
    <div class="col-md-4">
      <h3>Contact</h3>
      <div class="contact-item">
        <p>Please call</p>
        <p><a href="tel:970-209-5159">(970) 209-5159</a></p>
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Location</h3>
      <div class="contact-item">
        <p>303 Elk Ave,</p>
        <p>Crested Butte, CO 81224</p>
        <p>The entrance is on the SW side of the building.</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Hours</h3>
      <div class="contact-item">
        <p>Mon-Fri: 12:00 PM - 3:00 PM</p>
        <p>Sat-Sun: Closed</p>
        <p>Hours are subject to change during the off season</p>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="section-title text-center">
      <h3>Send us a message</h3>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
    </div>
  </div> -->
</div>
<div id="footer">
  <div class="container text-center">
    <div class="col-md-6">
      <p>&copy; 2021 Tashi Delek. All rights reserved.
    </div>
    <div class="col-md-6">
      <div class="social">
        <ul>
          <li><a href="https://www.facebook.com/MOMO-Cafe-182310068836841/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
